<!DOCTYPE html>
<html class="background-100-e">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Skrollex</title>
    <meta name="description" content="Onepage Parallax Site" />
    <meta name="keywords" content="onepage, parallax" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="bower_components/minicolors/jquery.minicolors.css" />
    <link rel="stylesheet" href="bower_components/slick.js/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick.js/slick/slick-theme.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-custom.min.css" />
    <link rel="stylesheet" href="lib/linecons/style.css" />
    <link rel="stylesheet" href="styles/style.min.css" />
    <link rel="stylesheet" href="theme-custom.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png" />
</head>
<body class="state1 background-100-e">
{#<div class="ext-nav background-95-h page-transition">
    <div class="view half-height">
        <img alt class="bg static" src="images/placeholders/1920x1200-2.jpg" />
        <div class="content no-top-padding no-bottom-padding  full-height">
            <div class="container-fluid  full-height">
                <div class="row full-height">
                    <a href="blog.html" class="col-md-6 colors-e background-95-e full-height">
                        <div>
                            <span class="side-label">All The Latest</span>
                            <span class="side-title">Blog</span>
                        </div>
                    </a>
                    <a href="help.html" class="col-md-6 colors-f background-95-f full-height">
                        <div>
                            <span class="side-label">Documentation</span>
                            <span class="side-title">Help</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  half-height">
        <div class="row full-height">
            <a href="#how-we-work" class="col-md-4 colors-g background-solid full-height border-bottom border-lite">
                <div>
                    <span class="side-label">Awesome</span>
                    <span class="side-title">How We Work</span>
                </div>
            </a>
            <a href="#who-we-are" class="col-md-4 colors-g background-solid full-height border-bottom border-left border-lite">
                <div>
                    <span class="side-label">We Are Designers</span>
                    <span class="side-title">Who We Are</span>
                </div>
            </a>
            <a href="#numbers" class="col-md-4 colors-g background-solid full-height border-bottom border-left border-lite">
                <div>
                    <span class="side-label">Some Facts</span>
                    <span class="side-title">Our Numbers</span>
                </div>
            </a>
        </div>
    </div>
</div>#}


<!-- HOME -->
<section id="home" class="lines" style="background: black">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="view">
{#        <img src="http://my.files.free.fr/images/photoDecoupee2petite.png" style="position: absolute; right: 1px; opacity: 0.8">#}
        <div class="content home-mary full-size colors-a">
            <div class="container">

                <div class="textillate text-center heading" data-textillate-options="{loop:true, in:{effect:'flipInY', reverse:false}, out:{effect:'flipOutY', reverse:false}}">
                    <ul class="texts">
                        <li>DAVID GABRIELE</li>
                        <li>PHP / Symfony</li>
                        <li>Javascript</li>
                        <li>Passionné</li>
                        <li>Autodidacte</li>
                    </ul>
                </div>
                <h1 class="text-center">DEVELOPPEUR <span class="highlight">WEB</span></h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead text-center">
                            Développeur web sur la région lyonnaise, je met à disposition mes connaissances pour la création de sites internet et le développement d'applications web. CRM , SITE INTERNET, INFOGRAPHIE ...
                            Diplomé d'un BAC +2 en développement web et mobile à la <a href="https://www.wildcodeschool.com/fr-FR" target="_blank"><span class="highlight">Wild Code School</span></a>
                        </p>
                        <p class="text-center container-fluid">
                            <a style="cursor: crosshair" data-toggle="modal" data-target="#qui-suis-je" class="button background-60-dark heading-f border-hard animated bounceInDown">Qui suis-je ?</a>
                            <a style="cursor: crosshair" data-toggle="modal" data-target="#diplomes-certif" class="button background-60-dark heading-f border-hard animated bounceInRight">Diplomes & Certif'</a>
                            <a style="cursor: crosshair" data-toggle="modal" data-target="#competences" class="button background-60-dark heading-f border-hard animated bounceInDown">Comtétences</a>
                            <a style="cursor: crosshair" data-toggle="modal" data-target="#team" class="button background-60-dark heading-f border-hard animated bounceInLeft">Team</a>
                            <a style="cursor: crosshair" data-toggle="modal" data-target="#parcours-realisations" class="button background-60-dark heading-f border-hard animated rotateIn">Parcours & Réalisations</a>
                            <a style="cursor: crosshair" data-toggle="modal" data-target="#services" class="button background-60-dark heading-f border-hard animated fadeInUp">Services</a>

                            <br>
                            <br>

                            <a style="cursor: pointer" data-toggle="modal" data-target="#contact" class="button background-d highlight-d animated flip">Contactez-moi</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->


<!-- Modal QUI-SUIS-JE ? -->
<div id="qui-suis-je" class="modal fade page-model modal-fullscreen" tabindex="190" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: fixed; top: -15px; right: 10px">
                    <span aria-hidden="true">&times;</span>
                </button>

            <div class="modal-body">

                <section id="about" style="background: white;">
                    <img alt class="bgSections" src="images-sections/profil.png"/>

                    <div class="view">
                        <div class="content colors-e">
                            <div class="container">

                                <h2><span class="highlight">Q</span>ui suis-je ?</h2>

                                <p class="header-details"><span class="highlight">David</span> Gabriele</p>

                                <p class="lead" style="color: #767676">
                                    <span class="highlight" style="font-size: 1.5rem">D</span>avid 33 ans. Ancien restaurateur, j'ai entrepris ma reconversion en 2018.
                                    Je m'intéresse au multimédia et au développement web depuis mes 17 ans et développe des sites web pour particuliers de manière autodidacte.
                                </p>

                                <p class="lead" style="color: #767676">
                                    <span class="highlight" style="font-size: 1.5rem">J</span>e termine ma formation au campus "Wild Code School" en 2018 et
                                    obtient le titre de développeur web & mobile niveau 3. Une expérience professionelle dans le domaine du RGPD, plus précisément
                                    sur le CRM de l'activité et sur la création de plusieurs sites vitrines à la demande de divers clients, me forme d'avantage à l'univers du web.
                                </p>

                                <p class="lead" style="color: #767676">
                                    <span class="highlight" style="font-size: 1.5rem">J</span>e propose aujourd'hui mes services et met à disposition mes qualités de développeur
                                    passionné et rigoureux. Ma solution spécialement développée pour un suivi client sur mesure sera bénéfique pour que votre projet soit développé
                                    selon vos attentes. Je me forme au quotidien aux langages "php", "mysql", "javascript", "framework symfony". Mais encore, "html", "css",
                                    "bootstrap", "git"
                                </p>

                                <div class="row" style="margin-top: 50px">
                                    <div class="col-md-4">
                                        <div class="col-icon">
                                            <i class="li_fire"></i>
                                        </div>
                                        <div class="col-content">
                                            <h4>Web <span class="highlight">Passion</span></h4>
                                            <p>
                                                Passioné par la technologie en tout genre depuis mon plus jeune age et plus particulierement dans l'informatique, je me
                                                concentre sur l'apprentissage des metiers du web au quotidien.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-icon">
                                            <i class="li_bulb"></i>
                                        </div>
                                        <div class="col-content">
                                            <h4>Web <span class="highlight">Logique</span></h4>
                                            <p>
                                                Chaque problème a sa solution, je développe ce point important de la programmation (arriver au bout quoi qu'il en soit en trouvant les moyens les plus concis)
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-icon">
                                            <i class="li_note"></i>
                                        </div>
                                        <div class="col-content">
                                            <h4>Web <span class="highlight">Agile</span></h4>
                                            <p>
                                                Le développement d'un projet se base avant tout sur la compréhension et le niveau de compléxité de celui-ci. Adopter un contact claire et précis à la base
                                                est important, papier stylo en avant.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- END Modal QUI-SUIS-JE ? -->



<!-- Modal DIPLOMES ET CERTIF' -->
<div id="diplomes-certif" class="modal fade page-model modal-fullscreen" tabindex="191" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: fixed; top: -15px; right: 10px">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">

                <section id="diplome-certifications" style="background: white; position: relative">
                    <img alt class="bgSections" src="images-sections/certif.png"/>

                    <div class="view">
                        <div class="content colors-e">
                            <div class="container text-center">
                                <h2>Diplomes <span class="highlight">&</span> Certifications</h2>


                                <p class="lead" style="color: #767676">
                                    <span class="highlight" style="font-size: 1.5rem">M</span>es diplomes et certificats s'accompagnent d'une pratique autodidacte pronnoncée.
                                    En effet les clients que j'ai pu gérer en amont et en parallele m'ont permis d'acquerir de l'experience et de l'autonomie.
                                    Des projets personnels et en cours recquirent l'auto formation sur de nouvelles technologie tel que "REACT.JS" sur laquelle je me forme actuellement.
                                </p>

                                <div class="row icon-set" style="display: flex; justify-content: center; flex-wrap: wrap">
                                    <div class="col-md-3">
                                        <p>
                                            <i class="li_study circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
                                        </p>
                                        <p class="title"><span class="underline-text"><span class="highlight">Wild Code School =></span> BAC + 2 Développement Web & Mobile</span></p>
                                        <p>
                                            <i class="fa fa-cog fa-spin"></i>
                                            1 mois de HTML / CSS / BOOTSTRAP / GIT ... <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            7 semaines sur les langages PHP / SQL et les bonnes conventions de codage (MVC, PSR ...) <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            8 Semaines sur la découverte de Symfony et travail sur un projet dans un groupe de 5 en méthode agile.


                                        </p>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <p>
                                            <i class="li_tag circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
                                        </p>
                                        <p class="title"><span class="underline-text"><span class="highlight">OpenClassRoom =></span> Créez des pages web interactives avec JavaScript</span></p>
                                        <p>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Apprentissage du javascript en procédurale <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Manipulation du "dom"
                                        </p>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <p>
                                            <i class="li_tag circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
                                        </p>
                                        <p class="title"><span class="underline-text"><span class="highlight">OpenClassRoom =></span> Apprenez à coder avec JavaScript</span></p>
                                        <p>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Communiquer efficacement en JavaScript en utilisant le vocabulaire approprié <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Résoudre des problèmes de base en JavaScript <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Écrire un programme en JavaScript
                                        </p>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <p>
                                            <i class="li_tag circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
                                        </p>
                                        <p class="title"><span class="underline-text"><span class="highlight">OpenClassRoom =></span> Concevez votre site web avec PHP et MySQL</span></p>
                                        <p>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Apprentissage du PHP en procédurale <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Apprentissage du PHP en objet <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Apprentissage du language SQL
                                        </p>
                                    </div>

                                </div>

                                <div class="row icon-set" style="display: flex; justify-content: center; flex-wrap: wrap">
                                    <div class="col-md-3 text-center">
                                        <p>
                                            <i class="li_tag circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
                                        </p>
                                        <p class="title"><span class="underline-text"><span class="highlight">OpenClassRoom =></span> Initiez-vous à l'algèbre relationnelle avec le langage SQL</span></p>
                                        <p>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Manipuler de l’information à l’aide des différentes opérations de l’algèbre relationnelle <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Appliquer les opérations de l’algèbre relationnelle aux requêtes SQL <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Composer des requêtes SQL simples <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Résoudre les conflits de branche
                                        </p>
                                    </div>

                                    <div class="col-md-3 text-center">
                                        <p>
                                            <i class="li_tag circle scroll-in-animation background-20 heading" data-animation="fadeInUp"></i>
                                        </p>
                                        <p class="title"><span class="underline-text"><span class="highlight">OpenClassRoom =></span> Gérez votre code avec Git et GitHub</span></p>
                                        <p>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Envoyer le code sur une autre machine dite remote <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Créer un repository Git <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Enregistrer des commits <br>
                                            <i class="fa fa-cog fa-spin"></i>
                                            Composer des requêtes SQL avancées
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- END Modal DIPLOMES ET CERTIF' -->


<!-- Modal COMPETENCES -->
<div id="competences" class="modal fade page-model modal-fullscreen" tabindex="191" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: fixed; top: -15px; right: 10px">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">

                <section id="about" style="background: white; position: relative">
                    <img alt class="bgSections" src="images-sections/brain.png"/>

                    <div class="view">
                        <div class="content colors-e">
                            <div class="container text-center">
                                <h2><span class="highlight">C</span>ompétences</h2>


                                <p class="lead" style="color: #767676; margin-bottom: 39px">
                                    <span class="highlight" style="font-size: 1.5rem">J</span>e me forme au quotidiens à de nouvelles technologie. Chaque problème rencontré est un plus en savoir faire.
                                </p>


                                <div class="skillbars col-md-6">
                                    <div class="skillbar clearfix background-d" data-percent="80%">
                                        <div class="skillbar-title background-b heading-b"><span>HTML</span></div>
                                        <div class="skillbar-bar background-b"></div>
                                        <div class="skill-bar-percent heading-d">80%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="75%">
                                        <div class="skillbar-title background-c heading-c"><span>CSS</span></div>
                                        <div class="skillbar-bar background-c"></div>
                                        <div class="skill-bar-percent heading-d">75%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="75%">
                                        <div class="skillbar-title background-b heading-b"><span>BOOTSTRAP</span></div>
                                        <div class="skillbar-bar background-b"></div>
                                        <div class="skill-bar-percent heading-d">75%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="55%">
                                        <div class="skillbar-title background-c heading-c"><span>SQL</span></div>
                                        <div class="skillbar-bar background-c"></div>
                                        <div class="skill-bar-percent heading-d">55%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="60%">
                                        <div class="skillbar-title background-b heading-b"><span>PHP</span></div>
                                        <div class="skillbar-bar background-b"></div>
                                        <div class="skill-bar-percent heading-d">60%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="60%">
                                        <div class="skillbar-title background-c heading-c"><span>JAVASCRIPT</span></div>
                                        <div class="skillbar-bar background-c"></div>
                                        <div class="skill-bar-percent heading-d">60%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="75%">
                                        <div class="skillbar-title background-b heading-b"><span>SYMFONY</span></div>
                                        <div class="skillbar-bar background-b"></div>
                                        <div class="skill-bar-percent heading-d">75%</div>
                                    </div>

                                </div>

                                <div class="skillbars col-md-6">
                                    <div class="skillbar clearfix background-d" data-percent="75%">
                                        <div class="skillbar-title background-c heading-c"><span>SEO</span></div>
                                        <div class="skillbar-bar background-c"></div>
                                        <div class="skill-bar-percent heading-d">75%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="70%">
                                        <div class="skillbar-title background-b heading-b"><span>Photoshop</span></div>
                                        <div class="skillbar-bar background-b"></div>
                                        <div class="skill-bar-percent heading-d">70%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="75%">
                                        <div class="skillbar-title background-c heading-c"><span>GIT</span></div>
                                        <div class="skillbar-bar background-c"></div>
                                        <div class="skill-bar-percent heading-d">75%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="50%">
                                        <div class="skillbar-title background-b heading-b"><span>DEVOPS</span></div>
                                        <div class="skillbar-bar background-b"></div>
                                        <div class="skill-bar-percent heading-d">50%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="70%">
                                        <div class="skillbar-title background-c heading-c"><span>LINUX</span></div>
                                        <div class="skillbar-bar background-c"></div>
                                        <div class="skill-bar-percent heading-d">70%</div>
                                    </div>
                                    <div class="skillbar clearfix background-d" data-percent="40%">
                                        <div class="skillbar-title background-b heading-b"><span>SCRUM</span></div>
                                        <div class="skillbar-bar background-b"></div>
                                        <div class="skill-bar-percent heading-d">40%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- END Modal COMPETENCES -->

<!-- Modal TEAM -->
<div id="team" class="modal fade page-model modal-fullscreen" tabindex="191" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: fixed; top: -15px; right: 10px">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">

                <section id="team">
                    <div class="view">
                        <div class="content colors-e background-solid" style="position: relative">

                            <div class="container">
                                <img alt class="bgTeam" src="images-sections/team.png"/>

                                <h2><span class="highlight">T</span>eam</h2>

                                <p class="header-details"><span class="highlight">Mes</span> connaissances autour du <span class="highlight">web</span></p>

                                <p class="lead" style="color: #767676">
                                    <span class="highlight" style="font-size: 1.5rem">Parcequ'on avance pas seul ... </span>
                                    Mes connaissance auquelle la confiance et le professionnalisme règnent. N'hésitez pas à les contacter si besoin.
                                </p>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Mike Johnson" src="images/portfolio/yoann-gabriele.png" title="Mike Johnson" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook heading-b"></i></a>
                                                        <a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube heading-b"></i></a>
                                                        <a target="_blank" href="https://github.com/"><i class="fa fa-github heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Yoann Gabriele</span>
                                                <br/>
                                                <span class="highlight">Web Designer & Infographiste</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Jessica Specter" src="images/portfolio/maxime-achour.png" title="Jessica Specter" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                                                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                                                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                                                        <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                                                        <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Maxime Achour</span>
                                                <br/>
                                                <span class="highlight">DPO Audit & Formation RGPD certifié Bureau Veritas</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Lynda Smith" src="images/portfolio/jef-de-conti.jpeg" title="Lynda Smith" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr heading-b"></i></a>
                                                        <a target="_blank" href="https://www.dropbox.com/"><i class="fa fa-dropbox heading-b"></i></a>
                                                        <a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing heading-b"></i></a>
                                                        <a target="_blank" href="http://vk.com/"><i class="fa fa-vk heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Jef De Conti</span>
                                                <br/>
                                                <span class="highlight">Développeur Web</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Lynda Smith" src="images/placeholders/380x573-1.jpg" title="Lynda Smith" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Exercitation ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                                                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                                                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                                                        <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                                                        <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Thierry Isandre</span>
                                                <br/>
                                                <span class="highlight">Développeur Web</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- END Modal TEAM -->


<!-- Modal PARCOURS & REALISATIONS -->
<div id="parcours-realisations" class="modal fade page-model modal-fullscreen" tabindex="191" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: fixed; top: -15px; right: 10px">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">

                <section id="parcours-realisations">
                    <div class="view">
                        <div class="content colors-e background-solid" style="position: relative">

                            <div class="container">
                                <img alt class="bgTeam" src="images-sections/team.png"/>

                                <h2>Parcours <span class="highlight">&</span> Réalisations</h2>

                                <p class="header-details">Découvrez ici mes <span class="highlight">expériences</span> professionnelle</p>

                                <p class="lead" style="color: #767676">
                                    <span class="highlight" style="font-size: 1.5rem">Parcequ'on avance pas seul ... </span>
                                    Mes connaissance auquelle la confiance et le professionnalisme règnent. N'hésitez pas à les contacter si besoin.
                                </p>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Mike Johnson" src="images/placeholders/380x573-1.jpg" title="Mike Johnson" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook heading-b"></i></a>
                                                        <a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube heading-b"></i></a>
                                                        <a target="_blank" href="https://github.com/"><i class="fa fa-github heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Yoann Gabriele</span>
                                                <br/>
                                                <span class="highlight">Web Designer & Infographiste</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Jessica Specter" src="images/placeholders/380x573-1.jpg" title="Jessica Specter" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                                                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                                                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                                                        <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                                                        <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Maxime Achour</span>
                                                <br/>
                                                <span class="highlight">DPO Audit & Formation RGPD certifié Bureau Veritas</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Lynda Smith" src="images/placeholders/380x573-1.jpg" title="Lynda Smith" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr heading-b"></i></a>
                                                        <a target="_blank" href="https://www.dropbox.com/"><i class="fa fa-dropbox heading-b"></i></a>
                                                        <a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing heading-b"></i></a>
                                                        <a target="_blank" href="http://vk.com/"><i class="fa fa-vk heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Jef De Conti</span>
                                                <br/>
                                                <span class="highlight">Développeur Web</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Lynda Smith" src="images/placeholders/380x573-1.jpg" title="Lynda Smith" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Exercitation ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                                                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                                                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                                                        <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                                                        <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Thierry Isandre</span>
                                                <br/>
                                                <span class="highlight">Développeur Web</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Mike Johnson" src="images/placeholders/380x573-1.jpg" title="Mike Johnson" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook heading-b"></i></a>
                                                        <a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube heading-b"></i></a>
                                                        <a target="_blank" href="https://github.com/"><i class="fa fa-github heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Yoann Gabriele</span>
                                                <br/>
                                                <span class="highlight">Web Designer & Infographiste</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Jessica Specter" src="images/placeholders/380x573-1.jpg" title="Jessica Specter" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                                                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                                                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                                                        <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                                                        <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Maxime Achour</span>
                                                <br/>
                                                <span class="highlight">DPO Audit & Formation RGPD certifié Bureau Veritas</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Lynda Smith" src="images/placeholders/380x573-1.jpg" title="Lynda Smith" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr heading-b"></i></a>
                                                        <a target="_blank" href="https://www.dropbox.com/"><i class="fa fa-dropbox heading-b"></i></a>
                                                        <a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing heading-b"></i></a>
                                                        <a target="_blank" href="http://vk.com/"><i class="fa fa-vk heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Jef De Conti</span>
                                                <br/>
                                                <span class="highlight">Développeur Web</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6  col-xs-6">
                                        <div class="hover-overlay">
                                            <img alt="Lynda Smith" src="images/placeholders/380x573-1.jpg" title="Lynda Smith" class="fluid-width">
                                            <div class="overlay background-90-b">
                                                <div>
                                                    <p class="text-center text-uppercase heading-b">
                                                        Exercitation ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                    </p>
                                                    <div class="separator-small"></div>
                                                    <p class="text-center">
                                                        <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                                                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                                                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                                                        <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                                                        <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p>
                                                <span class="title">Thierry Isandre</span>
                                                <br/>
                                                <span class="highlight">Développeur Web</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- END Modal PARCOURS & REALISATIONS -->

<!-- Modal SERVICES -->
<div id="services" class="modal fade page-model modal-fullscreen" tabindex="191" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: fixed; top: -15px; right: 10px">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">

                <section id="services">

                    <div class="view">
                        <div class="content colors-e background-solid" style="position: relative">

                            <div class="container">
                                <img alt class="bgTeam" src="images-sections/team.png"/>

                                <h2><span class="highlight">S</span>ervices</h2>

                                <p class="header-details">Que puis-je <span class="highlight">pour vous ?</span></p>


                                <div class="row icon-set">
                                    <div class="col-md-3 text-center">
                                        <p class="title"><span class="underline-text highlight">RESPONSIVE DESIGN</span></p>
                                        <p>Le responsive design offre une consultation confortable sur des écrans de tailles très différentes.</p>
                                    </div>

                                    <div class="col-md-3 text-center">
                                        <p class="title"><span class="underline-text highlight" >Référencement Naturel</span></p>
                                        <p>Le développement de votre projet sera effectué selon les conventions de référencement google.</p>
                                    </div>

                                    <div class="col-md-3 text-center">
                                        <p class="title"><span class="underline-text highlight" >Sur Mesure</span></p>
                                        <p>Une idée précise visuelle de votre projet ? Un accompagnement ? Un infographiste professionnel est là pour vous conseiller.</p>
                                    </div>

                                    <div class="col-md-3 text-center">
                                        <p class="title"><span class="underline-text highlight" >Solution Agile</span></p>
                                        <p>Votre projet sous surveillance tout au long de son développement. Modifiable en temps réel.</p>
                                    </div>
                                </div>

                                <h2><span class="highlight" style="margin-top: 35px">Ma </span> Méthode</h2>

                                <p class="header-details">Votre <span class="highlight">Projet</span></p>



                                <p class="lead" style="color: #767676; margin-top: 35px; margin-bottom: 35px">
                                    <span class="highlight" style="font-size: 1.5rem">L'agile informatisé ... </span>
                                    Je vous propose un développement de votre projet selon ma méthode agile. Le suivi d'un projet web par le client est en effet une chose importante,
                                    c'est pour cela que j'ai développé ma propre interface de gestion projet/client. Quatres étapes sont implémentées pour un suivi sur mesure :
                                </p>

                                <div class="process">
                                    <div class="row process-row">
                                        <div class="col-md-3 process-step">
                                            <div class="process-box"><i class="li_search heading"></i></div>
                                            <p class="title"><span class="highlight">1 - PREMIER CONTACT</span></p>
                                            <p class="text-center">Après avoir rempli le formulaire sur dg-web, je vous contacte par téléphone afin que nous échangions sur la nature de votre projet.
                                                Je prépare votre devis et le récapitulatif de votre demande, un mail vous est envoyé.</p>
                                        </div>
                                        <div class="col-md-3 process-step">
                                            <div class="process-box"><i class="li_pen heading"></i></div>
                                            <p class="title"><span class="highlight">2 - DÉBUT DU PROJET</span></p>
                                            <p class="text-center">Votre projet est clair et nous pouvons commencer à travailler. Votre compte client est créé. Un ou plusieur(s) développeur(s) sont
                                                assigné(s) à votre projet et ont accès au cahier des charges préalablement rédigé (celui-ci est modulable au cours du développement).</p>
                                        </div>
                                        <div class="col-md-3 process-step">
                                            <div class="process-box"><i class="li_settings heading"></i></div>
                                            <p class="title"><span class="highlight">3 - DÉVELOPPEMENT</span></p>
                                            <p class="text-center">A chaque fois qu'un développeur lance une session de travail, vous en êtes averti par e-mail / sms. Vous pouvez alors vous rendre
                                                sur votre interface client et accéder à une adresse web pour voir l'avancement du projet en direct. Un chat est alors ouvert pour vous donner la possibilité de
                                                discuter avec le développeur. Chaque session du développeur est cloturée par un résumé du travail effectué et le temps consacré pour celui-ci.</p>
                                        </div>
                                        <div class="col-md-3 process-step">
                                            <div class="process-box"><i class="li_paperplane heading"></i></div>
                                            <p class="title"><span class="highlight">4 - FINALISATION</span></p>
                                            <p class="text-center">Votre projet est sur le point d'être finalisé. L'équipe fait un check complet sur toutes les fonctionnalités développées. La mise en ligne
                                                est effectuée et votre application est disponible. Selon le moyen de paiement choisi, votre facture est générée automatiquement et vous est disponible sur votre
                                                compte client.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>
<!-- END Modal SERVICES -->

<!-- Modal CONTACT -->
<div id="contact" class="modal fade page-model modal-fullscreen" tabindex="191" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: fixed; top: -15px; right: 10px">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">

                <section id="contact">

                    <div class="view">
                        <div class="content colors-e background-solid" style="position: relative">

                            <div class="container">
                                <img alt class="bgTeam" src="images-sections/team.png"/>

                                <h2><span class="highlight">C</span>ontact</h2>

                                <p class="header-details">Recruteur ? <span class="highlight">Particulier ?</span> Je vous répond dans les <span class="highlight">plus brefs délais</span></p>


                                <div class="col-md-12">
                                    <div class="text-left">
                                        <form class="ajax-form" data-message-class="colors-e background-95 border heading" action="contact.php" method="post" novalidate="novalidate">
                                            <div class="row">
                                                <div class="col-md-6 control-group">
                                                    <div class="alt-placeholder">Name</div>
                                                    <input type="text" name="your-name" value="" size="40" placeholder="Name" data-validation-required-message="Please fill the required field." required>
                                                    <div class="help-block"></div>
                                                </div>
                                                <div class="col-md-6 control-group">
                                                    <div class="alt-placeholder">Email</div>
                                                    <input type="email" name="your-email" value="" size="40" placeholder="Email" data-validation-required-message="Please fill the required field." required>
                                                    <div class="help-block"></div>
                                                </div>
                                                <div class="col-md-12 control-group">
                                                    <div class="alt-placeholder">Message</div>
                                                    <textarea name="your-message" placeholder="Message" data-validation-required-message="Please fill the required field." required></textarea>
                                                    <div class="help-block"></div>
                                                </div>
                                                <div class="col-md-12 form-actions">
                                                    <input class="button" type="submit" value="Envoyer" style="background: orange; color: black">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- END Modal CONTACT -->

<script>
    if (typeof(atob) == "undefined")
    {
        document.write('<script src="lib/stringencoders-v3.10.3/javascript/base64.js"><\/script>');
        var atob = function(x)
        {
            return base64.decode(x);
        }
    }
</script>
<script src="bower_components/less.js/dist/less.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="lib/tween/tween.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/modernizr-edited.js"></script>
<script src="lib/SmoothScroll-1.4.9/SmoothScroll.js"></script>
<script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="bower_components/jqBootstrapValidation/dist/jqBootstrapValidation-1.3.7.min.js"></script>
<script src="bower_components/minicolors/jquery.minicolors.min.js"></script>
<script src="bower_components/slick.js/slick/slick.min.js"></script>
<script src="bower_components/shufflejs/dist/jquery.shuffle.min.js"></script>
<script src="bower_components/textillate/assets/jquery.lettering.js"></script>
<script src="bower_components/textillate/assets/jquery.fittext.js"></script>
<script src="bower_components/textillate/jquery.textillate.js"></script>
<script src="lib/prism/prism.js"></script>
<script>
    (function()
    {
        var disableMobileAnimations = true;
        var isWin = navigator.appVersion.indexOf("Win") !== -1;
        if (isWin) $('html').addClass('win');
        var ua = navigator.userAgent.toLowerCase();
        var isChrome = ua.indexOf('chrome') > -1;
        if (isChrome) $('html').addClass('chrome');
        var isAndroidBrowser4_3minus = ((ua.indexOf('mozilla/5.0') > -1 && ua.indexOf('android ') > -1 && ua.indexOf('applewebkit') > -1) && !(ua.indexOf('chrome') > -1));
        if (isAndroidBrowser4_3minus) $('html').addClass('android-browser-4_3minus');
        var isSafari = !isChrome && ua.indexOf('safari') !== -1;
        if (isSafari) $('html').addClass('safari');
        var isMobile = false; //Change false to Modernizr.touch if you want to disable animations on touchscreen devices;
        if (isMobile)
        {
            $('html').addClass('mobile');
            if (disableMobileAnimations) $('html').addClass('poor-browser');
        }
        else
        {
            $('html').addClass('non-mobile');
        }
        if (isWin && isSafari)
        {
            $('html').addClass('flat-animation');
        }
    })();
</script>
<script src="scripts/script-bundle.js"></script>
<script>
    if (Function('/*@cc_on return document.documentMode===9@*/')())
    {
        $('html').addClass('ie9');
    }
    if (Function('/*@cc_on return document.documentMode===10@*/')())
    {
        $('html').addClass('ie10');
    }
    if (!!navigator.userAgent.match(/Trident.*rv\:11\./))
    {
        $('html').addClass('ie11');
    }
</script>
</body>
</html>