<!DOCTYPE html>
<html lang="fr" class="background-100-e" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155247697-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155247697-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dg Web - Développeur Web Lyon - Diplomes & Certificats</title>
    <meta name="description" content="Développeur web sur Lyon, je met à disposition mes connaissances pour la création de sites internet et le développement d'applications web." />
    <meta name="keywords" content="Développeur web lyon, développement web, développeur freelance lyon, freelance, développeur symfony lyon, développeur symfony,
    développeur php lyon, développeur php, création site internet lyon, création site internet pas cher, freelance pas cher lyon, création de site internet lyon par cher, html, css, symfony 4, php framework,
    david gabriele, david gabriele lyon, dg web" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="bower_components/minicolors/jquery.minicolors.css" />
    <link rel="stylesheet" href="bower_components/slick.js/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick.js/slick/slick-theme.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-custom.min.css" />
    <link rel="stylesheet" href="lib/linecons/style.css" />
    <link rel="stylesheet" href="styles/style.min.css" />
    <link rel="stylesheet" href="theme-custom.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png" />
</head>

<body class="state1 background-100-e">

            <a href="{{ path("home") }}"> <button type="button" class="close" style="color: black; position: fixed; top: -15px; right: 10px">
                <span aria-hidden="true">&times;</span>
            </button></a>



                <section style="background: white; position: relative" class="animated fadeInDown">
                    <img alt="Diplomes et certifications de David Gabriele, développeur web lyon" class="bgSectionsDiplomes" src="images-sections/certif.png"/>

                    <div class="view">
                        <div class="content colors-e">
                            <div class="container text-center">
                                <h2>Diplômes <span class="highlight">&</span> Certifications</h2>


                                <p class="lead" style="color: #767676">
                                    <span class="highlight" style="font-size: 1.5rem">M</span>es diplômes et certificats s'accompagnent d'une pratique autodidacte prononcée.
                                    En effet les clients que j'ai pu gérer en amont et en parallèle m'ont permis d'acquérir de l'expérience et de l'autonomie.
                                    Des projets personnels et en cours requièrent l'autoformation sur de <strong>nouvelles technologies</strong> telles que "<strong>REACT.JS</strong>" sur laquelle je me forme actuellement.
                                </p>


                                <div class="wrapperDiplomes" style="margin-top: 75px">

                                    <div class="cardDiplomes">
                                        <i style="color: black; font-size: 35px; z-index: 10000000; position: absolute; top: -18px; left: 10px" class="fa fa-mortar-board"></i>
                                        <input type="checkbox" id="wildCodeSchool" class="moreDiplomes" aria-hidden="true">
                                        <div class="contentDiplomes">
                                            <div class="frontDiplomes">
                                                <div class="innerDiplomes">
                                                    <span style="color: #cb875f; font-weight: bold; font-size: 15px">Wild Code School</span>
                                                    <h2>BAC + 2 Développement Web & Mobile</h2>

                                                    <label for="wildCodeSchool" class="buttonDiplomes" aria-hidden="true">
                                                        En savoir plus
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="backDiplomes">
                                                <div class="innerDiplomes">
                                                    <div class="descriptionDiplomes">
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            HTML / CSS / BOOTSTRAP / GIT / LINUX
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            PHP / SQL et les bonnes conventions de codage (MVC, PSR ...)
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Symfony 4.2 et travail sur
                                                            un projet dans un groupe de 5 en méthode agile.
                                                        </p>
                                                    </div>
                                                    <div class="titreDiplome">WILD CODE SCHOOL => BAC + 2 DÉVELOPPEMENT WEB & MOBILE</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cardDiplomes">
                                        <i style="color: black; font-size: 35px; z-index: 10000000; position: absolute; top: -18px; left: 10px" class="fa fa-gears"></i>
                                        <input type="checkbox" id="javascriptInteractive" class="moreDiplomes" aria-hidden="true">
                                        <div class="contentDiplomes">
                                            <div class="frontDiplomes">
                                                <div class="innerDiplomes">
                                                    <span style="color: #cb875f; font-weight: bold; font-size: 15px">OpenClassrooms</span>
                                                    <h2>CRÉEZ DES PAGES WEB INTERACTIVES AVEC JAVASCRIPT</h2>

                                                    <label for="javascriptInteractive" class="buttonDiplomes" aria-hidden="true">
                                                        En savoir plus
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="backDiplomes">
                                                <div class="innerDiplomes">
                                                    <div class="descriptionDiplomes">
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Apprentissage du javascript en procédurale
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Manipulation du "dom"
                                                        </p>
                                                    </div>
                                                    <div class="titreDiplome">OPENCLASSROOMS => CRÉEZ DES PAGES WEB INTERACTIVES AVEC JAVASCRIPT</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="cardDiplomes">
                                        <i style="color: black; font-size: 35px; z-index: 10000000; position: absolute; top: -18px; left: 10px" class="fa fa-gears"></i>
                                        <input type="checkbox" id="javascript" class="moreDiplomes" aria-hidden="true">
                                        <div class="contentDiplomes">
                                            <div class="frontDiplomes">
                                                <div class="innerDiplomes">
                                                    <span style="color: #cb875f; font-weight: bold; font-size: 15px">OpenClassrooms</span>
                                                    <h2>APPRENEZ À CODER AVEC JAVASCRIPT</h2>

                                                    <label for="javascript" class="buttonDiplomes" aria-hidden="true">
                                                        En savoir plus
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="backDiplomes">
                                                <div class="innerDiplomes">
                                                    <div class="descriptionDiplomes">
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Communiquer efficacement en JavaScript en utilisant le vocabulaire approprié
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Résoudre des problèmes de base en JavaScript
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Écrire un programme en JavaScript
                                                        </p>
                                                    </div>
                                                    <div class="titreDiplome">OPENCLASSROOMS => APPRENEZ À CODER AVEC JAVASCRIPT</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cardDiplomes">
                                        <i style="color: black; font-size: 35px; z-index: 10000000; position: absolute; top: -18px; left: 10px" class="fa fa-gears"></i>
                                        <input type="checkbox" id="phpmysql" class="moreDiplomes" aria-hidden="true">
                                        <div class="contentDiplomes">
                                            <div class="frontDiplomes">
                                                <div class="innerDiplomes">
                                                    <span style="color: #cb875f; font-weight: bold; font-size: 15px">OpenClassrooms</span>
                                                    <h2>CONCEVEZ VOTRE SITE WEB AVEC PHP ET MYSQL</h2>

                                                    <label for="phpmysql" class="buttonDiplomes" aria-hidden="true">
                                                        En savoir plus
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="backDiplomes">
                                                <div class="innerDiplomes">
                                                    <div class="descriptionDiplomes">
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Apprentissage du PHP en procédurale
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Apprentissage du PHP en objet
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Apprentissage du langage SQL
                                                        </p>
                                                    </div>
                                                    <div class="titreDiplome">OPENCLASSROOMS => CONCEVEZ VOTRE SITE WEB AVEC PHP ET MYSQL</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cardDiplomes">
                                        <i style="color: black; font-size: 35px; z-index: 10000000; position: absolute; top: -18px; left: 10px" class="fa fa-gears"></i>
                                        <input type="checkbox" id="algebrerelationnel" class="moreDiplomes" aria-hidden="true">
                                        <div class="contentDiplomes">
                                            <div class="frontDiplomes">
                                                <div class="innerDiplomes">
                                                    <span style="color: #cb875f; font-weight: bold; font-size: 15px">OpenClassrooms</span>
                                                    <h2>INITIEZ-VOUS À L'ALGÈBRE RELATIONNELLE AVEC LE LANGAGE SQL</h2>

                                                    <label for="algebrerelationnel" class="buttonDiplomes" aria-hidden="true">
                                                        En savoir plus
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="backDiplomes">
                                                <div class="innerDiplomes">
                                                    <div class="descriptionDiplomes">
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Manipuler de l’information à l’aide des différentes opérations de l’algèbre relationnelle
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Appliquer les opérations de l’algèbre relationnelle aux requêtes SQL
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Composer des requêtes SQL simples
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Composer des requêtes SQL avancées
                                                        </p>
                                                    </div>
                                                    <div class="titreDiplome">OPENCLASSROOMS => INITIEZ-VOUS À L'ALGÈBRE RELATIONNELLE AVEC LE LANGAGE SQL</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cardDiplomes">
                                        <i style="color: black; font-size: 35px; z-index: 10000000; position: absolute; top: -18px; left: 10px" class="fa fa-gears"></i>
                                        <input type="checkbox" id="github" class="moreDiplomes" aria-hidden="true">
                                        <div class="contentDiplomes">
                                            <div class="frontDiplomes">
                                                <div class="innerDiplomes">
                                                    <span style="color: #cb875f; font-weight: bold; font-size: 15px">OpenClassrooms</span>
                                                    <h2>GÉREZ VOTRE CODE AVEC GIT</h2>

                                                    <label for="github" class="buttonDiplomes" aria-hidden="true">
                                                        En savoir plus
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="backDiplomes">
                                                <div class="innerDiplomes">
                                                    <div class="descriptionDiplomes">
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Envoyer le code sur une autre machine dite remote
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Créer un repository Git
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Enregistrer des commits
                                                        </p>
                                                        <p>
                                                            <i class="fa fa-cog fa-spin"></i>
                                                            Résoudre les conflits de branche
                                                        </p>
                                                    </div>
                                                    <div class="titreDiplome">OPENCLASSROOMS => GÉREZ VOTRE CODE AVEC GIT</div>
                                                    {#                                                    <div class="typeDiplome">Formation</div>#}
                                                    {#                                                <a href="www.google.fr" class="buttonDiplomes" aria-hidden="true">#}
                                                    {#                                                    Visiter le site#}
                                                    {#                                                </a>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-12 text-center" style="margin-top: 65px">
                                    <a style="cursor: crosshair" href="{{ path('parcours') }}" class="button background-d highlight-d animated bounceInDown">Mon parcours & Réalisations >>></a>
                                </div>
                            </div>




                        </div>
                    </div>

                </section>




<script>
    if (typeof(atob) == "undefined")
    {
        document.write('<script src="lib/stringencoders-v3.10.3/javascript/base64.js"><\/script>');
        var atob = function(x)
        {
            return base64.decode(x);
        }
    }
</script>
<script src="bower_components/less.js/dist/less.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="lib/tween/tween.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/modernizr-edited.js"></script>
<script src="lib/SmoothScroll-1.4.9/SmoothScroll.js"></script>
<script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="bower_components/jqBootstrapValidation/dist/jqBootstrapValidation-1.3.7.min.js"></script>
<script src="bower_components/minicolors/jquery.minicolors.min.js"></script>
<script src="bower_components/slick.js/slick/slick.min.js"></script>
<script src="bower_components/shufflejs/dist/jquery.shuffle.min.js"></script>
<script src="bower_components/textillate/assets/jquery.lettering.js"></script>
<script src="bower_components/textillate/assets/jquery.fittext.js"></script>
<script src="bower_components/textillate/jquery.textillate.js"></script>
<script src="lib/prism/prism.js"></script>

<script>
    $("#click").click(function(){
        $("#nav").toggleClass("closed");
    });
</script>
<script>
    (function()
    {
        var disableMobileAnimations = true;
        var isWin = navigator.appVersion.indexOf("Win") !== -1;
        if (isWin) $('html').addClass('win');
        var ua = navigator.userAgent.toLowerCase();
        var isChrome = ua.indexOf('chrome') > -1;
        if (isChrome) $('html').addClass('chrome');
        var isAndroidBrowser4_3minus = ((ua.indexOf('mozilla/5.0') > -1 && ua.indexOf('android ') > -1 && ua.indexOf('applewebkit') > -1) && !(ua.indexOf('chrome') > -1));
        if (isAndroidBrowser4_3minus) $('html').addClass('android-browser-4_3minus');
        var isSafari = !isChrome && ua.indexOf('safari') !== -1;
        if (isSafari) $('html').addClass('safari');
        var isMobile = false; //Change false to Modernizr.touch if you want to disable animations on touchscreen devices;
        if (isMobile)
        {
            $('html').addClass('mobile');
            if (disableMobileAnimations) $('html').addClass('poor-browser');
        }
        else
        {
            $('html').addClass('non-mobile');
        }
        if (isWin && isSafari)
        {
            $('html').addClass('flat-animation');
        }
    })();
</script>
<script src="scripts/script-bundle.js"></script>
<script>
    if (Function('/*@cc_on return document.documentMode===9@*/')())
    {
        $('html').addClass('ie9');
    }
    if (Function('/*@cc_on return document.documentMode===10@*/')())
    {
        $('html').addClass('ie10');
    }
    if (!!navigator.userAgent.match(/Trident.*rv\:11\./))
    {
        $('html').addClass('ie11');
    }
</script>
</body>
</html>