<!DOCTYPE html>
<html lang="fr" class="background-100-e" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155247697-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155247697-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dg Web - Développeur Web Lyon - Compétences</title>
    <meta name="description" content="Développeur web sur Lyon, je met à disposition mes connaissances pour la création de sites internet et le développement d'applications web." />
    <meta name="keywords" content="Développeur web lyon, développement web, développeur freelance lyon, freelance, développeur symfony lyon, développeur symfony,
    développeur php lyon, développeur php, création site internet lyon, création site internet pas cher, freelance pas cher lyon, création de site internet lyon par cher, html, css, symfony 4, php framework,
    david gabriele, david gabriele lyon, dg web" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="bower_components/minicolors/jquery.minicolors.css" />
    <link rel="stylesheet" href="bower_components/slick.js/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/slick.js/slick/slick-theme.css" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-custom.min.css" />
    <link rel="stylesheet" href="lib/linecons/style.css" />
    <link rel="stylesheet" href="styles/style.min.css" />
    <link rel="stylesheet" href="theme-custom.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png" />
</head>

<body class="state1 background-100-e">

    <a href="{{ path("home") }}"> <button type="button" class="close" style="color: black; position: fixed; top: -15px; right: 10px">
        <span aria-hidden="true">&times;</span>
    </button></a>



    <section style="background: white; position: relative" class="animated fadeInDown">
        <img alt="Compétences de David Gabriele, développeur web lyon" class="bgSectionsCompetences" src="images-sections/brain.png"/>

        <div class="view">
            <div class="content colors-e">
                <div class="container text-center">
                    <h2><span class="highlight">C</span>ompétences</h2>


                    <p class="lead" style="color: #767676; margin-bottom: 39px">
                        <span class="highlight" style="font-size: 1.5rem">J</span>e me forme au quotidien à de nouvelles technologie. Chaque problème rencontré est un plus en savoir faire.
                    </p>


                    <div class="skillbars col-md-6">
                        <p style="font-weight: bold">Frameworks :</p>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-b heading-b"><span>SYMFONY</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="65%">
                            <div class="skillbar-title background-c heading-c"><span>BOOTSTRAP</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Middle</div>
                        </div>
                        <p style="font-weight: bold">Langages :</p>
                        <div class="skillbar clearfix background-d" data-percent="65%">
                            <div class="skillbar-title background-b heading-b"><span>HTML</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Middle</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="65%">
                            <div class="skillbar-title background-c heading-c"><span>CSS</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Middle</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-b heading-b"><span>PHP</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-c heading-c"><span>SQL</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-b heading-b"><span>JAVASCRIPT</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>


                    </div>

                    <div class="skillbars col-md-6">
                        <p style="font-weight: bold">Autres :</p>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-b heading-b"><span>GIT</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="65%">
                            <div class="skillbar-title background-c heading-c"><span>Photoshop</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Middle</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-b heading-b"><span>LINUX</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-c heading-c"><span>SCRUM</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="65%">
                            <div class="skillbar-title background-b heading-b"><span>SEO</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Middle</div>
                        </div>
                        <div class="skillbar clearfix background-d" data-percent="35%">
                            <div class="skillbar-title background-c heading-c"><span>DEVOPS</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-d">Junior</div>
                        </div>


                        <p style="font-weight: bold">Primordiales :</p>
                        <div class="skillbar clearfix background-d" data-percent="100%">
                            <div class="skillbar-title background-b heading-b"><span>MOTIVATION</span></div>
                            <div class="skillbar-bar background-b"></div>
                            <div class="skill-bar-percent heading-c">Expert</div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>




<script>
    if (typeof(atob) == "undefined")
    {
        document.write('<script src="lib/stringencoders-v3.10.3/javascript/base64.js"><\/script>');
        var atob = function(x)
        {
            return base64.decode(x);
        }
    }
</script>
<script src="bower_components/less.js/dist/less.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="lib/tween/tween.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/modernizr-edited.js"></script>
<script src="lib/SmoothScroll-1.4.9/SmoothScroll.js"></script>
<script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="bower_components/jqBootstrapValidation/dist/jqBootstrapValidation-1.3.7.min.js"></script>
<script src="bower_components/minicolors/jquery.minicolors.min.js"></script>
<script src="bower_components/slick.js/slick/slick.min.js"></script>
<script src="bower_components/shufflejs/dist/jquery.shuffle.min.js"></script>
<script src="bower_components/textillate/assets/jquery.lettering.js"></script>
<script src="bower_components/textillate/assets/jquery.fittext.js"></script>
<script src="bower_components/textillate/jquery.textillate.js"></script>
<script src="lib/prism/prism.js"></script>

<script>
    $("#click").click(function(){
        $("#nav").toggleClass("closed");
    });
</script>
<script>
    (function()
    {
        var disableMobileAnimations = true;
        var isWin = navigator.appVersion.indexOf("Win") !== -1;
        if (isWin) $('html').addClass('win');
        var ua = navigator.userAgent.toLowerCase();
        var isChrome = ua.indexOf('chrome') > -1;
        if (isChrome) $('html').addClass('chrome');
        var isAndroidBrowser4_3minus = ((ua.indexOf('mozilla/5.0') > -1 && ua.indexOf('android ') > -1 && ua.indexOf('applewebkit') > -1) && !(ua.indexOf('chrome') > -1));
        if (isAndroidBrowser4_3minus) $('html').addClass('android-browser-4_3minus');
        var isSafari = !isChrome && ua.indexOf('safari') !== -1;
        if (isSafari) $('html').addClass('safari');
        var isMobile = false; //Change false to Modernizr.touch if you want to disable animations on touchscreen devices;
        if (isMobile)
        {
            $('html').addClass('mobile');
            if (disableMobileAnimations) $('html').addClass('poor-browser');
        }
        else
        {
            $('html').addClass('non-mobile');
        }
        if (isWin && isSafari)
        {
            $('html').addClass('flat-animation');
        }
    })();
</script>
<script src="scripts/script-bundle.js"></script>
<script>
    if (Function('/*@cc_on return document.documentMode===9@*/')())
    {
        $('html').addClass('ie9');
    }
    if (Function('/*@cc_on return document.documentMode===10@*/')())
    {
        $('html').addClass('ie10');
    }
    if (!!navigator.userAgent.match(/Trident.*rv\:11\./))
    {
        $('html').addClass('ie11');
    }
</script>
</body>
</html>